<app-menu></app-menu>
<div Class = "container mt-5">
<h1 Class= "text-Center">Lista de Anuncios!</h1>

<div *ngFor="let anuncios of noticia">
    <p>{{anuncios.idanunos}}</p>
    <p>{{anuncios.titulo}}</p>
    <p>{{anuncios.imagen}}</p>
    <p>{{anuncios.texto}}</p>
    <p>{{anuncios.publicacion}}</p>
    <hr>
    <button (click)="editarAnuncio(anuncios)">Editar</button>
    <button (click)="borrarAnuncios(anuncios)">Borrar</button>
</div>

<form (ngSubmit)="guardarAnuncio()" #newsForm="ngForm">
    <br>
    <div>
        <p>Lista para Publicar!</p>
        <label for="titulo">Titulo:</label>
        <input type="text" id="titulo" required [(ngModel)]="noticias.titulo" name="titulo">
    </div>
    <div>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" required [(ngModel)]="noticias.descripcion" name="descripcion">
    </div>
    <div>
        <label for="imagen">Imagen (URL):</label>
        <input type="text" id="imagen" [(ngModel)]="noticias.imagen" name="imagen">
    </div>
    <div>
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" required [(ngModel)]="noticias.fecha" name="fecha">
    </div>
    <button type="btn btn-success">Publicar Anuncio</button>
</form>