<app-menu></app-menu>
<br>
<br>
<h1 class="text-center">Lista de Platillos!</h1>
<div *ngFor="let platillos of platillo">
    <p><strong>ID Platillo:</strong> {{platillos.idplatillo}}</p>
    
    <img *ngIf="platillos.foto" [src]="platillos.foto" alt="Imagen Platillo" width="100" />
    
    <p><strong>Precio:</strong> {{ platillos.precio | quetzales }}</p>

    <p><strong>Descripción:</strong> {{ platillos.descripcion }}</p>
    <hr>
    <button (click)="editarPlatillo(platillos)">Editar</button>
    <button (click)="borrarPlatillo(platillos.idplatillo)">Borrar</button>
</div>

<form (ngSubmit)="guardarPlatillo()" #newsForm="ngForm">
    <div>
        <label for="idplatillo">ID Platillo:</label>
        <input type="text" id="idplatillo" required [(ngModel)]="platillos.idplatillo" name="idplatillo">
    </div>
    
    <div>
        <label for="foto">Foto (Imagen):</label>
        <input type="file" id="foto" (change)="imagenSeleccionada($event)" name="foto">
     
        <img *ngIf="imageBase64" [src]="imageBase64" alt="Imagen Previa" width="100" />
    </div>
    
    <div>
        <label for="precio">Precio:</label>
        <input type="text" id="precio" [(ngModel)]="platillos.precio" name="precio">
    </div>
    
    <div>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" required [(ngModel)]="platillos.descripcion" name="descripcion">
    </div>

    <p>Ingredientes:</p>

    <select [(ngModel)]="ingredienteSeleccionado" name="ingredienteSeleccionado">
        <option *ngFor="let ing of ingredientes" [ngValue]="ing">{{ ing.idingrediente }} - {{ ing.nombre }}</option>
    </select>

    <button type="button" (click)="agregarIngrediente()">Agregar Ingrediente</button>

    <div *ngFor="let d of platillos.platilloIngredienteLista; let i = index">
        <label for="ingrediente">Ingrediente ID:</label>
        <input type="text" id="ingrediente" [(ngModel)]="d.ingredienteIdIngrediente" name="ingredienteIdIngrediente_{{i}}" readonly>
        <label for="ingredienteNombre">Ingrediente Nombre:</label>
        <input type="text" id="ingredienteNombre" [(ngModel)]="d.ingrediente" name="ingredienteNombre_{{i}}" readonly>
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" [(ngModel)]="d.cantidad" name="cantidad_{{i}}">
    </div>

    <button type="submit">Publicar Platillo</button>
    <br>
    <br>
    <br>
</form>