<app-menu></app-menu>
<br>
<br>
<h1 Class= "text-Center">Lista de Platillos!</h1><div *ngFor="let platillos of platillo">
    <p>{{platillos.idplatillo}}</p>
    <p>{{platillos.foto}}</p>
    <p>{{platillos.precio}}</p>
    <p>{{platillos.descripcion}}</p>
    <hr>
    <button (click)="editarPlatillo(platillos)">Editar</button>
    <button (click)="borrarPlatillo(platillos.idplatillo)">Borrar</button>
</div>

<form (ngSubmit)="guardarPlatillo()" #newsForm="ngForm">
    <div>
        <label for="idplatillo">idplatillo:</label>
        <input type="text" id="idplatillo" required [(ngModel)]="platillos.idplatillo" name="idplatillo">
    </div>
    <div>
        <label for="foto">foto (URL):</label>
        <input type="text" id="foto" required [(ngModel)]="platillos.foto" name="foto">
    </div>
    <div>
        <label for="precio">precio:</label>
        <input type="text" id="precio" [(ngModel)]="platillos.precio" name="precio">
    </div>
    <div>
        <label for="descripcion">descripcion:</label>
        <input type="text" id="descripcion" required [(ngModel)]="platillos.descripcion" name="descripcion">
    </div>
    
    <p>Ingredientes:</p>
    
    <select [(ngModel)]="ingredienteSeleccionado" name="ingredienteSeleccionado">
        <option *ngFor="let ing of ingredientes" [ngValue]="ing">{{ ing.idingrediente }} - {{ ing.nombre }}</option>
      </select>
      
    <button type="button" (click)="agregarIngrediente()">Agregar Ingrediente</button>
  
    <div *ngFor="let d of platillos.platilloIngredienteLista; let i = index">
        <label for="ingrediente">Ingrediente ID:</label>
        <input type="text" id="ingrediente" [(ngModel)]="d.ingredienteIdIngrediente" name="ingredienteIdIngrediente_{{i}}" readonly>
        <label for="ingredienteNombre">Ingrediente Nombre:</label>
        <input type="text" id="ingredienteNombre" [(ngModel)]="d.ingrediente" name="ingredienteNombre_{{i}}" readonly>
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" [(ngModel)]="d.cantidad" name="cantidad_{{i}}">
      </div>
      
    
     
  
    <button type="submit">Publicar platillo</button>
    <br>
    <br>
    <br>
</form>
