#loginForm {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

p {
    font-size: 24px;
    text-align: center;
}

hr {
    border: 1px solid #007bff;
    margin: 20px 0;
}

.input-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}
