<app-menu></app-menu>
<br>
<br>
<h1 class="text-center">Lista de Ingredientes!</h1>
<div *ngFor="let ingredientes of ingrediente" class="ingrediente-item">
    <p class="ingrediente-id">ID: {{ingredientes.idingrediente}}</p>
    <p class="ingrediente-nombre">Nombre: {{ingredientes.nombre}}</p>
    <p class="ingrediente-cantidad">Cantidad: {{ingredientes.cantidad}}</p>
    <hr>
    <button (click)="editarIngrediente(ingredientes)">Editar</button>
    <button (click)="borrarIngrediente(ingredientes)">Borrar</button>
</div>

<form (ngSubmit)="guardarIngrediente()" #newsForm="ngForm" class="form-ingredientes">
    <div>
        <label for="idingrediente">ID Ingrediente:</label>
        <input type="text" id="idingrediente" required [(ngModel)]="ingredientes.idingrediente" name="idingrediente">
    </div>
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" required [(ngModel)]="ingredientes.nombre" name="nombre">
    </div>
    <div>
        <label for="cantidad">Cantidad:</label>
        <input type="text" id="cantidad" [(ngModel)]="ingredientes.cantidad" name="cantidad">
    </div>
    <button type="submit">Publicar ingrediente</button>
    <br>
    <br>
    <br>
</form>
